<div>
	<mat-form-field> <mat-label>Filter</mat-label> <input
		matInput (keyup)="applyFilter($event)"> </mat-form-field>
	<div>
		<button mat-raised-button (click)="add()"> Add </button>
		<button mat-raised-button (click)="remove()"> Remove </button>
		<button mat-raised-button (click)="remove()"> Apply </button>
	</div>
	<table mat-table [dataSource]="dataSource" matSort>
		<ng-container matColumnDef="{{column}}"
			*ngFor="let column of columnsToDisplay">
			<ng-container *ngIf="column==='select'" sticky>
				<th mat-header-cell *matHeaderCellDef><mat-checkbox
						(change)="$event ? masterToggle() : null"
						[checked]="selection.hasValue() && isAllSelected()"
						[indeterminate]="selection.hasValue() && !isAllSelected()"
						[aria-label]="checkboxLabel()"> </mat-checkbox></th>
				<td mat-cell *matCellDef="let row "><mat-checkbox
						(click)="$event.stopPropagation()"
						(change)="$event ? selection.toggle(row) : null"
						[checked]="selection.isSelected(row)"
						[aria-label]="checkboxLabel(row)"> </mat-checkbox></td>
			</ng-container>
			<ng-container *ngIf="column!='select'">
				<th mat-header-cell *matHeaderCellDef
					mat-sort-header>{{column}}</th>
				<td mat-cell *matCellDef="let element"><input
					#input matInput placeholder="{{column}}" [(value)]="element[column]" /></td>
			</ng-container>
		</ng-container>
		<tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
		<tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
			(click)="selection.toggle(element)">
		</tr>
	</table>
	<div>
		<button mat-raised-button (click)="add()"> Add </button>
		<button mat-raised-button (click)="remove()"> Remove </button>
		<button mat-raised-button (click)="remove()"> Apply </button>
	</div>
	<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>